
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>Home</h1>
    <h6> Welcome to Pizza Hub</h6>
    <h4>Wanted Some Yummy Pizza ? Come on LetsStart Searching Your Favorite pizza in Meny page</h4>*@
<header class="m-0 bg-dark py-5">
    <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">Welcome to Pizza Hub</h1>
        <div class="text-white text-center">
            Wanted Some Yummy Pizza ? Come on LetsStart Searching Your Favorite pizza in
            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Menu">Our Menu</a>
        </div>
    </div>

    <img class="d-block w-100" src="~/imgs/img3.jpg" alt="pizzaslide1">

</header>


