@model PizzaOrderingSystem.Models.Orders

@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<br/>
<div class="container">
    <form>
        <h1>Yummy Pizza's is few more steps ahead</h1>
        <br />
        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name" ><h6> Name : </h6></label>
                    <input asp-for="customerName" class="form-control" id="name"  required/>
                    <span asp-validation-for="customerName" class="text-danger" ></span>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="number"><h6> Phone Number : </h6></label>
                    <input asp-for="phoneNumber" class="form-control" pattern="[1-9]{1}[0-9]{9}" title="Please enter exactly 10 digits" id="phonenumber"  required />
                    <span asp-validation-for="phoneNumber" class="text-danger"></span>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="address"><h6> Address : </h6></label>
                    <textarea asp-for="address" class="form-control" id="address"  required></textarea>
                    <span asp-validation-for="address" class="text-danger" ></span>

                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="datetime"><h6> Preferred delivery time: </h6></label>
                    <input asp-for="datetime" class="form-control" id="datetime"  required>
                    <span asp-validation-for="datetime" class="text-danger" ></span>

                </div>
            </div>
        </div>
        <br />

        <h2>Your Cart Amount : Rs.  @string.Format("{0:n2}", Model.amount)  </h2>
        <br />
        <h7> Mode Of Payment : Cash On Delivery (We accept only Indian Currency(Rupees))</h7>
        <br />
        <br />
        <h7> Once you click on Finalize order there is no returning back ...</h7>
        <br />
        <br />
        <button type="submit" class="btn btn-dark"  formmethod="post">Finalize Order</button>
        <div class="btn btn-dark mt-auto">
            @Html.ActionLink("Back To Cart", "Cart")
        </div>
        <br />
        <br />
        <br />
        <br />
    </form>
</div>
<style>
    a {
        color: white;
        text-decoration: none;
    }


        a:hover {
            color: white;
        }
</style>

@*<script>
    function showalert()
    {
        alert("The Order Has been finalized...Thank You for Ordering !!")
        
    };


</script>*@

